html {
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
}
.button {
    border-radius: 6px;
    background-color: rgb(87, 160, 209);
    border: 1px solid rgb(87, 160, 209);
    color: rgb(243, 211, 70);
    text-decoration: none; 
  }

#content {
    display: inline-flex;
    position: fixed;
    z-index: 50;
    width: 100%;
    border-bottom: solid 1px rgb(243, 211, 70);
    background-color: rgb(252, 229, 128);
    top:0px;
} 
li {
    display: inline-flex;
    padding-left: 8rem;
    font-size: 1.5rem; 
    margin-top: 2rem;
} 
#lg {
    width:10rem;
    height:auto;   
}
a {
    color: rgb(14, 129, 206);
    text-decoration: none;
}
#Company {
    display: inline-block;
    position: relative;
    top:6rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#img1 {
    width: 30rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#product {
    display: block;
    position: relative;
    top: 10rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#ul1 {
    display: inline-flex;
    padding-left: 8rem;
    font-size: 1.5rem; 
    margin-top: 2rem;
    color: black;
    text-decoration: underline;
}
#ul1:hover {
    cursor: pointer;
    color: rgb(226, 159, 34);
    text-decoration: none;
}
#svyaz {
    position: relative;
    display: block;
    justify-content: center;
    
}

@media only screen and (orientation: portrait) {
    #content .desktop {
      display: none;
    }  
    #osv {
        justify-content: center;
        margin-left: 10rem;
        margin-right: auto;
        
    }
    html {
        font-size: 2rem;
    }
    #img1 {
        margin-left: 2rem;
    }
}
@media only screen and (orientation: landscape) {
    #content .mobile {
      display: none;
    } 
    #osv {
        justify-content: center;
        margin-left: 50rem;
        margin-right: auto;
        
    } 
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: rgb(14, 129, 206);
    width:100%;

}
p {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    width:100%;
}
footer {
    background-color:rgb(252, 229, 128);
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: center;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    
}
span {
    color: rgb(2, 49, 80);

}
#form1 {
    display: none;
}